<form>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Your email">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <select class="form-control service-form-choice">
          <option>Film Curation</option>
          <option>Space Design</option>
          <option>Bespoke Experience</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group">
      <div class="col-md-12">
        <textarea class="form-control"></textarea>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <button type="submit" class="btn btn-primary pull-right">Submit</button>
    </div>
  </div>
</form>
