/* Navigation Menu Setup */
.nav-absolute {
  position: absolute;
  width: 100%;
}

.nav-absolute .container-fluid {
  text-align: right;
}

.nav-absolute .h1 {
  position: absolute;
}

.nav-hidden .list-inline li {
  vertical-align: top;
}

.menu-opener {
  margin-top: 20px;
  margin-bottom: 10px;
  display: inline-block;
  line-height: 48px;
  text-transform: lowercase;
  font-size: 24px;
  padding-right: 50px;

  background: url(http://www.mrmarcelschool.com/content/images/icon-menu.png) no-repeat center right;
}

.newsletter-container {
  text-align: left;
}

.footer-links .pull-right {
  text-align: right;
}

/* Override Bootstrap Vars */
@media screen and (min-width: 768px) {
  .carousel-indicators {
    bottom: 0;
  }
}

.jumbotron, section {
  /*padding: 100px 0;*/
  height: 100vh;
  width: 100vw;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align: center;
}

.carousel-indicators li {
  background-color: pink;
  background-color: rgba(30, 53, 96, 0.5);
}

.carousel-indicators .active {
  background-color: pink;
  background-color: rgb(30, 53, 96);
}

.nonhome-page section {
  padding: 25px 0 50px;
}

#partner-cta, #contact-page {
  text-align: center;
}
