/* Navigation Menu Setup */
.nav-pointer, .nav-absolute {
  position: absolute;
  width: 100%;
}

.nav-pointer {
  z-index: 1;
}

.nav-pointer a {
  transition: color 0.3s;
}

.nav-pointer .changecolor {
  color: white;
}

.nav-pointer .container-fluid {
  text-align: right;
}

.nav-pointer .h1 {
  position: absolute;
}

.nav-absolute {
  position: absolute;
  background: #17274D;
  margin-top: -316px;
  transition: margin-top 0.3s, padding 0.3s;
}

.nav-absolute.popdown {
  margin-top: 0;
  padding-bottom: 40px;
}

.nav-absolute a, .nav-absolute h2 {
  color: white;
}

.nav-absolute .accordion-menu {
  padding-top: 44px;
  padding-bottom: 44px;
  margin-bottom: 0;
}

.nav-absolute .accordion-menu li {
  vertical-align: top;
}

.menu-opener {
  margin-top: 20px;
  margin-bottom: 10px;
  display: inline-block;
  line-height: 48px;
  text-transform: lowercase;
  font-size: 24px;
  padding-right: 50px;

  background: url(http://www.mrmarcelschool.com/content/images/icon-menu.png) no-repeat center right;
}

/* Footer Styles*/
.newsletter-container {
  text-align: left;
}

.footer-links .pull-right {
  text-align: right;
}

:focus {
  outline: none;
}

/* Custom Classes */
.no-padding {
  padding-left: 0;
  padding-right: 0;
}

.no-padding img {
  width: 100%;
}

/* Override Bootstrap Vars */
@media screen and (min-width: 768px) {
  .carousel-indicators {
    bottom: 0;
  }
}

.jumbotron {
  background: none;
}

.jumbotron, section.spread {
  /*padding: 100px 0;*/
  height: 100vh;
  width: 100vw;
  display:flex;
  justify-content:center;
  align-items:center;
}

section.padded {
  margin: 200px 0;
}

section.service-tabs-container {
  margin-top: 200px;
}

section.service-panels-container {
  padding-top: 20px;
  height: 0;
  overflow: hidden;
  transition: height 1s ease-in;
}

section.service-panels-container.opened {
  height: 400px;
}

section.service-panels-container .service-panels-row {
  position: relative;
  height: 200px;
  overflow: hidden;
}

.service-panels {
  opacity: 0;
  position: absolute;
  top: 20px;
  transition: opacity 0.2s ease-in;
}

.service-panels.displayed {
  opacity: 1;
}

.horizontal-center {
  text-align: center;
}

.carousel-indicators li {
  background-color: pink;
  background-color: rgba(30, 53, 96, 0.5);
}

.carousel-indicators .active {
  background-color: pink;
  background-color: rgb(30, 53, 96);
}

/*.nonhome-page section {
  padding: 25px 0 50px;
}*/

#partner-cta, #contact-page {
  text-align: center;
}

.footer-row {
  margin-bottom: 10px;
}

/* ABOUT US */
.about-galleries {
  background-color: #CBE9E4;
}

.about-galleries img {
  margin: 40px 0;
}

.about-galleries img.split {
  display: inline-block;
  margin: 40px 20px;
}

/* TEAM */

.meet-the-team {
  background-color: #F5EC85;
}

/* PARTNERS */
.partners {
  margin: 20px 0 80px;
}

/* ABOUT PAGE GENERAL */

.meet-the-team .row, .partners .row {
  margin: 40px 0;
}
