<section class="spread">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1 class="page-header" id="dropdowns">
          About Us
        </h1>
        <p class="lead">
          We bring films outside and into everyday spaces.
        </p>
        <p>
          We believe great movies are meant to be enjoyed together in a communal setting. Each screening takes place in an open-air setting, at different locations aligned with the theme/genre of the film itself.
        </p>
      </div>
    </div>
  </div>
</section>
<section class="about-galleries">
  <div class="container text-center">
    <img src="https://unsplash.it/800/400" alt="600">
    <div>
      <img class="split" src="https://unsplash.it/500/250" alt="200">
      <img class="split" src="https://unsplash.it/500/250" alt="200">
    </div>
    <img src="https://unsplash.it/800/400" alt="600">
  </div>
</section>
<section class="spread">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h2 class="page-header" id="dropdowns">
          About Our Films
        </h1>
        <p class="lead">
          We want to screen films that are beautiful and thought-provoking, yet accessible.
        </p>
        <p>
          Our films come from the rich and diverse catalog of international cinema, films that are hugely celebrated in their native soils, but didn’t necessarily ‘make it’ in Hollywood. Through diverse works that tell meaningful stories in creative ways, We fill the space in between commercial and arthouse.
        </p>
      </div>
    </div>
  </div>
</section>
<section class="meet-the-team">
  <div class="container">
    <h2 class="text-center">Meet the Team</h2>

    <div class="row">
      <div class="col-md-5 text-center col-md-offset-1">
        <h3 class="text-center">Prima Aulia Gusta</h3>
        <img class="" src="https://unsplash.it/450/250" alt="200">
        <small>Lead Instructor, General Assembly Singapore</small>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
      </div>
      <div class="col-md-5 text-center">
        <h3 class="text-center">Prima Aulia Gusta</h3>
        <img class="" src="https://unsplash.it/450/250" alt="200">
        <small>Lead Instructor, General Assembly Singapore</small>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 text-center col-md-offset-1">
        <h3 class="text-center">Prima Aulia Gusta</h3>
        <img class="" src="https://unsplash.it/450/250" alt="200">
        <small>Lead Instructor, General Assembly Singapore</small>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
      </div>
      <div class="col-md-5 text-center">
        <h3 class="text-center">Prima Aulia Gusta</h3>
        <img class="" src="https://unsplash.it/450/250" alt="200">
        <small>Lead Instructor, General Assembly Singapore</small>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
      </div>
    </div>
  </div>
</section>
<section class="partners">
  <div class="container">
    <h2 class="text-center">
      We work with those we wholeheartedly admire
    </h2>
    <div class="row">
      <div class="col-md-4">
        <img class="" src="https://unsplash.it/360/250" alt="200">
      </div>
      <div class="col-md-4">
        <img class="" src="https://unsplash.it/360/250" alt="200">
      </div>
      <div class="col-md-4">
        <img class="" src="https://unsplash.it/360/250" alt="200">
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <img class="" src="https://unsplash.it/360/250" alt="200">
      </div>
      <div class="col-md-4">
        <img class="" src="https://unsplash.it/360/250" alt="200">
      </div>
      <div class="col-md-4">
        <img class="" src="https://unsplash.it/360/250" alt="200">
      </div>
    </div>
  </div>
</section>
<!-- <section>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h2 class="page-header" id="dropdowns">
          Why Work With Us
        </h1>
        <p>
          Reelak lets you engage with a young, tech-savvy audience with high social influence. Our past events regularly amass coverage in Singapore’s most influential lifestyle publications.
        </p>
      </div>
    </div>
  </div>
</section> -->
