<div class="nonhome-page">
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1 class="page-header" id="dropdowns">
            About Us
          </h1>
          <p class="lead">
            We bring films outside and into everyday spaces.
          </p>
          <p>
            We believe great movies are meant to be enjoyed together in a communal setting. Each screening takes place in an open-air setting, at different locations aligned with the theme/genre of the film itself.
          </p>
          <p>
            We want to screen films that are beautiful and thought-provoking, yet accessible.
          </p>
          <p>
            Our films come from the rich and diverse catalog of international cinema, films that are hugely celebrated in their native soils, but didn’t necessarily ‘make it’ in Hollywood. Through diverse works that tell meaningful stories in creative ways, We fill the space in between commercial and arthouse.
          </p>
          <h2>Target Audience</h2>
          <p>
            Our target audience consists of socially savvy, influential young professionals and families who embrace creativity, are open-minded and relish in the sense of community.
          </p>
          <p>
            They value experiences over ownership of things, and would choose to spend money on a desirable, new experiences.
          </p>
          <p>
            You can spot them at art-fuelled events, local music gigs, underground clubs, or outdoor family-friendly events.
          </p>
          <h2>Why Work With Us</h2>
          <p>
            Reelak lets you engage with a young, tech-savvy audience with high social influence. Our past events regularly amass coverage in Singapore’s most influential lifestyle publications.
          </p>
        </div>
      </div>
    </div>
  </section>
</div>
