<!-- Main jumbotron for a primary marketing message or call to action -->
<div id="hero" class="jumbotron horizontal-center">
  <div class="container">
    <h1>Films, out of the box, in everyday spaces.</h1>
  </div>
</div>

<div class="container-fluid no-padding">
  <img src="images/cropped-subhero.jpg" alt="subhero-image">
</div>

<section id="services" class="service-tabs-container">
  <div class="container">
    <div class="row horizontal-center">
      <p class="lead">
        Reelak helps you engage with today's young, modern audience through a fresh and unique take on the cinematic experience.
      </p>
      <div class="col-md-4">
        <h2>Film Curation</h2>
        <p><a class="btn btn-primary service-tabs" href="#" role="button" data-tab="1">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Space Design</h2>
        <p><a class="btn btn-primary service-tabs" href="#" role="button" data-tab="2">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Bespoke Experience</h2>
        <p><a class="btn btn-primary service-tabs" href="#" role="button" data-tab="3">View details &raquo;</a></p>
      </div>
    </div>
  </div>
</section>
<section class="service-panels-container">
  <div class="container-fluid">
    <div class="row service-panels-row">
      <div class="col-md-8 col-md-offset-2 service-panels" data-panel="1">
        <p class="lead">Quirky, stirring, unforgettable films, from the vast and diverse library that is international cinema.</p>
        <p>
          We choose international cinema for a body of work that portrays different stories and experiences, in a way that remains universal.
        </p>
        <p>
          Whether it's a Brazilian coming-of-age drama or a wry look at Israel's compulsory national service, we help you find the one film (or films!) that best connects with your target audience.
        </p>
      </div>
      <div class="col-md-8 col-md-offset-2 service-panels" data-panel="2">
        <p class="lead">The cinema: uprooted, reimagined, and recreated within the context of everyday spaces.</p>
        <p>
          Films are best enjoyed in a communal setting, but with the ubiquity of the traditional cinema, watching films in what is essentially a dark box can be a constraint.
        </p>
        <p>
          To bring the cinema into everyday spaces, we deconstruct and reimagine its very concept, putting everything back together within the context of the event’s theme and audience.
        </p>
      </div>
      <div class="col-md-8 col-md-offset-2 service-panels" data-panel="3">
        <p class="lead">Film, space, and everything in between: the signature Reelak experience, customised for you.</p>
        <p>
          The Reelak experience is known for reigniting the nostalgia of community spirit by bringing together different parts (films, spaces, fringe events) into one event tightly curated for the right target audience.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <%- partial('../partials/_enquiry') %>
      </div>
    </div>
  </div>
</section>
<section id="testimonials" class="horizontal-center padded">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">Overheard about us</h2>
        <hr class="light">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <blockquote>
                <p>
                  "While cinemas will shelter you from the worst of the weather elements (read: the haze), they do next to nothing to enhance your sense of adventure. That's where Reelak steps in."
                </p>
                <footer><cite title="The Business Times">The Business Times</cite></footer>
              </blockquote>
            </div>
            <div class="item">
              <blockquote>
                <p>
                  "While cinemas will shelter you from the worst of the weather elements (read: the haze), they do next to nothing to enhance your sense of adventure. That's where Reelak steps in."
                </p>
                <footer><cite title="The Business Times">The Business Times</cite></footer>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<%- partial('../partials/_subscribe') %>
